nav {
    display: flex;
    justify-content: center;
    justify-self: flex-start;
}
a {
    color: white;
}

.active-link {
    color: black;
    background-color: white;
}

nav a {
    border: 1px solid white;
    padding: 15px;
    margin: 0;
    width: 25%;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    color: black;
    background-color: white;
}
