.logs-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
}

.log-div {
  border: 3px solid white;
  border-radius: 20px;
  background-color: #5F021F;
  box-shadow: 0 0 7px 1px black;
  width: 500px;
  height: 100px;
  margin: 25px;
  color: white;
  font-size: 16px;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 15px 0 0 15px;
}

.log-message {
  padding-left: 25px;
  padding-right: 50px;
}