.logs-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
}

.log-div {
  border: solid black 1px;
  width: 500px;
  height: 100px;
  margin: 50px;
  color: white;
  font-size: 16px;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.user-image {
  width: 100px;
  height: 100px;
}

.log-message {
  padding-left: 50px;
  padding-right: 50px;
}