mat-card {
    background-color: rgba(95, 2, 31, 0.2);
}

.login-page, form {
    color: white;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.error-message {
    width: 100%;
    color: white;
    background-color: darkred;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}