.container {
    display: flex;
    overflow-y: scroll;
    flex-flow: column;
    text-align: left; 
    margin: auto;
}

.search {
    margin: 20px
}

.pokemons-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
