<div class="profile-page" *ngIf="user$ | async; let user">
	<poke-app-header type="normal"></poke-app-header>

	<div *ngIf="camera_on">
		<div><video id="stream" *ngIf="stream" [srcObject]="stream" autoplay></video></div>
		<div class="center"><button mat-raised-button class="btn" id="snap" (click)="capture()">Prendre la photo</button></div>
		<canvas #canvas id="canvas" width="200" height="200" style="display: none"></canvas>
	</div>

	<div class="description">
		<img class="profilePicture-div" #filePreview src="{{ profile_picture }}" width="200" height="250" alt="" />
	</div>
	<p><b>Description</b> : {{ user.description }}</p>
	<div class="info">
		<div>
			<div><b>Nom</b> : {{ user.name }}</div>
		</div>
	</div>
		<div class="changePP center">
			<button mat-raised-button class="btn" (click)="toggleCamera()">Changer de photo</button>
		</div>

		<div class="changeDescription">
			<input type="description" #f [value]="description" placeholder="Rentrer votre nouvelle description" />
			<div class="center"><button mat-raised-button class="btn" (click)="changeDescription(f.value)">Changer de description</button></div>
		</div>

	<div id="stats">
		<p>Nombre de pokemon rencontré : {{ user.encountered.length }}</p>

		<p>Nombre de pokemon capturé : {{ user.captured.length }}</p>

		<p>Energie : {{ user.energy }}</p>
	</div>

	<button mat-raised-button class="btn" *ngIf="isLoggedIn$ | async" (click)="logout()">Se déconnecter</button>
</div>
