<div class="profile-page" *ngIf="user | async; let user">
	<poke-app-header type="normal"></poke-app-header>

            <div>
                <div>Nom : {{user.name}}</div>
            </div>
            
            
        <div class="description">
            <img class="profilePicture-div" src="../../../assets/pp.png" width="200" height="250" alt="" />
            <p>{{user.description}}</p>
        </div>

        <div class="changePP">
            <button>changer de photo</button>
        </div>

        <div class="changeDescription">
            <button (click)="changeDescription(f.value)">changer de description</button>
            <input type="description" #f [value]="description" />
        </div>


        <div class="info">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <p>Autoriser échange</p>

        </div>
    <br>
        <div class="info">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <p>Autoriser les autres joueurs à voir votre activité</p>
        </div>
    
    

        <div id="stats">
            <p>nombre de pokemon rencontré : {{user.encountered.length}}</p>

            <p>nombre de pokemon capturé : {{user.captured.length}}</p>
        
            <p>énergie : {{user.energy}}</p>
            
        </div>
        
<button *ngIf="(isLoggedIn$ | async)" (click)="logout()">LOGOUT</button>

    
</div>