.pokemon-detail {
  padding: 2rem;
  display: flex;
  align-content: stretch;
  justify-content: space-between;
}

.flex-container {
    display: flex;
    flex-direction: row;
  }
  
.flex-container > div {
    background-color: grey;
}

.card {
  display: flex;
}

.poke_image {
  width: 40%;
  height: 40%
}

.container {
  width: 100%;
}