.pokemon-div {
  height: 90%;
  width: calc(100% - 20px);
  border: 3px solid white;
  border-radius: 20px;
  color: white;
  background-color: #5F021F;
  box-shadow: 0 0 10px 2px black;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.pokemon-div h2 {
  margin:3px;
}

.poke-image {
  height: 40%;
}

.types {
  display: flex;
  justify-content: center;
}

.types img {
  width: 30%;
}